{#
/**
 * @file
 * Default theme implementation for a Next Identity login button.
 *
 * Available variables:
 * - text: The button text.
 * - url: The URL to redirect to.
 * - icon_path: Path to the Next Identity icon.
 *
 * @ingroup themeable
 */
#}
<a href="{{ url }}" class="ni-oidc-login-button button button--primary">
  <img src="{{ icon_path }}" alt="Next Identity" class="ni-oidc-icon">
  <span>{{ text }}</span>
</a> 