{#
/**
 * @file
 * Default theme implementation for a Next Identity login button.
 *
 * Available variables:
 * - text: The button text.
 * - url: The URL to redirect to.
 *
 * @ingroup themeable
 */
#}
<a href="{{ url }}" class="ni-oidc-login-button button button--primary">{{ text }}</a> 