{#
/**
 * @file
 * Default theme implementation for a Next Identity register button.
 *
 * Available variables:
 * - text: The button text.
 * - url: The URL to redirect to.
 *
 * @ingroup themeable
 */
#}
<a href="{{ url }}" class="ni-oidc-register-button button">{{ text }}</a> 